@font-face {
    font-family: 'Ramabhadra';
    src: url('..//fonts/Ramabhadra.woff2') format('woff2'),
        url('../fonts/Ramabhadra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

