@import url('../css/stylesheet.css');

/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #D6D6D6;
    --white: #fff;
    --second-color:#FF4C29;
    --third-color:#667580;
    --fourth-color:#334756;
    --fifth-color:#F6F6F6;
}

/*Start Header*/
.main-header{
    background-color: #334756;
}

.main-header .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    min-height: 120px;
    align-items: center;
}

.header-ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}

.header-li a{
    text-decoration: none;
    color: var(--first-color);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 17px;
    font-weight: 400;
}

.header-li a:hover{
    color: var(--white);
}

.menu{
    width: 48px;
    height: 48px;
    display: none;
    border: 0;
    background: transparent;
}

/*End Header*/

/*Start Hero Section*/
.hero-section{
    padding: 69px 0;
}

.hero-section .row{
    justify-content: space-around;
    gap: 24px;
    flex-wrap: nowrap;
}

.hero-heading{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
}

.hero-heading h1{
    color: #334756;
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 48px;
    font-weight: 400;
}

.color{
    color: var(--second-color);
}

.hero-heading p{
    color: var(--third-color);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 20px;
    font-weight: 400;
}

.hero-links{
    display: flex;
    gap: 24px;
}

.first-link{
    height: 56px;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    min-width: 284px;
    padding: 16px 24px;
    text-align: center;
    color: var(--white);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
}

.first-link:hover{
    transition: all linear 0.2s;
    transform: scale(1);
    background-color: var(--white);
    color: var(--second-color);
}

.second-link{
    height: 56px;
    line-height: 18px;
    display: inline-block;
    text-decoration: none;
    min-width: 284px;
    padding: 16px 24px;
    text-align: center;
    color: var(--fourth-color);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #667580;
}

.second-link:hover{
    transition: all linear 0.2s;
    transform: scale(1);
    background-color: var(--third-color);
    color: var(--white);
}

.hero-img{
    max-width: 100%;
}
/*End Hero Section*/


/*Start Sound Section*/
.sound-section {
    background: var(--fifth-color);
    background-image: url("../imgs/sound-img.png");
    background-repeat: no-repeat;
    background-position:center right;
    padding: 125px 0;
    background-size: auto 100%;
}

.second-heading{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    max-width: 488px;
}

.second-heading h2 , .second-heading-two h2{
    color: var(--fourth-color);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
}

.second-heading p , .second-heading-two p{
    color: var(--third-color);
    font-family: "Ramabhadra" , "sans-serif";
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}
/*End Sound Section*/

/*Start Form Section*/
.contact-section{
    padding: 125px 15px;
}
.contact-section .row{ 
    justify-content: center;
}

/* .contact-section .col-6:first-child{
    padding-right: 0;
}

.contact-section .col-6:last-child{
    padding-left: 0;
} */

.select-icon select{
    appearance: none;
    width: 100%;
}

.select-icon{
    position: relative;
}

.select-icon .icon{
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.form-col{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 16px 48px;
    background: var(--fourth-color);
    height: 100%;
}

.form-col h2{
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label{
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form input , .form select{
    height: 56px;
    padding: 10px 16px;
    border-radius: 2px;
    border: 0;
    flex-grow: 1;
    color: var(--third-color);
    font-family: "Ramabhadra", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.form textarea{
    height: 142px;
    padding: 16px;
    border-radius: 2px;
    border: 0;
    flex-grow: 1;
    color: var(--third-color);
    font-family: "Ramabhadra", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.form button{
    display: inline-block;
    height: 56px;
    padding: 16px 24px;
    border-radius: 2px;
    border: 1px solid var(--second-color);
    background: var(--second-color);
    font-family: "Ramabhadra", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    color: var(--white);
    flex-grow: 1;
    cursor: pointer;
}

.form button:hover{
    transition: all linear 0.2s;
    transform: scale(1);
    background-color: var(--white);
    color: var(--second-color);
}

.contact-section  .col-6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px){
    .contact-section .col-6{
        width: 100%;
    }
}

@media screen and (min-width: 800px){
    .contact-section .col-6:first-child{
        padding-right: 0;
    }
    
    .contact-section .col-6:last-child{
        padding-left: 0;
    }
}
/*End Contact Section*/

/*Start Customer Section*/
.customer-say-section{
    padding: 50px 15px;
}

.customer-say-section .row{
    justify-content: center;
}

.customer-say-section .container h2{
    text-align: center;
    color: var(--fourth-color);
    font-family: "Ramabhadra", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    margin-bottom: 24px;
}

.customer-item{
    background: var(--fourth-color);
    padding: 30px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url("../imgs/bk.png");
    background-repeat: no-repeat;
    background-position: 24px 24px;
}

/* .customer-item::before{
    content: " ❝ ";
    color: var(--third-color);
    font-size: 114px;
    position: absolute;
    top: -15px;
    left: 24px;
    opacity: 0.5;
} */

.customer-item p {
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* z-index: 1;
    position: relative; */
}

.info{
    display: flex;
    gap: 13px;
    align-items: center;
}

.customer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.customer img{
    max-width: 100%;
    max-height: 100%;
}

.customer-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.customer-info h3 , .customer-info h4{
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-weight: 400;
}

.customer-info h3{
    font-size: 16px;
}

.customer-info h4{
    font-size: 14px;
}

@media screen and (max-width: 800px){
    .customer-say-section .col-5{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .customer-item{
        text-align: center;
    }

    .customer-say-section .container h2{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .info{
        flex-wrap: wrap;
        justify-content: center;
    }

    .customer-info{
        justify-content: center;
        text-align: center;
    }
}
/*End Customer Section*/

/*Start Second Sound Section*/
.sound-section-two{
    background: var(--fifth-color);
    background-image: url("../imgs/sound-2-img.png");
    background-repeat: no-repeat;
    background-position:center left;
    padding: 125px 0;
    background-size: cover 40%;
}

.sound-section-two .container{
    display: flex;
    justify-content: end;
}

.second-heading-two{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* justify-content: center;
    align-items: flex-end; */
    max-width: 488px;
}
/*End Sound Sexction Two*/

/*Start Footer*/
footer{
    padding: 81px 0;
    background: #334756;
}

footer .row{
    justify-content: space-between;
}

.second-row{
    display: flex;
    gap: 64px;
    justify-content: center;
    flex-wrap: wrap;
}

.first-item-footer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 255px;
}

.ul-footer{
    list-style: none;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.first-item-footer p{
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.second-item-footer{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.second-item-footer h4{
    color: var(--white);
    font-family: "Ramabhadra", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.second-item-ul{
    display: flex;
    flex-direction: column;
    gap: 9px;
    list-style: none;
}

.second-item-li a{
    color: var(--white);
    text-decoration: none;
    font-family: "Ramabhadra", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 800px){
    .first-item-footer{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .second-row{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        text-align: center;
        padding: 20px 0;
    }
}
